/*
 * Custom Webkit Scrollbars
 */

@mixin scrollbar-thin {
	
	html, body { 	overflow: hidden; }

	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
		display: block;
		height: 10px;
	}

	::-webkit-scrollbar-button:vertical:increment {
		background-color: #fff;
	}

	::-webkit-scrollbar-track-piece {
		background-color: #ddd;
		-webkit-border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:vertical {
		height: 50px;
		background-color: #ccc;
		-webkit-border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:horizontal {
		width: 50px;
		background-color: #ccc;
		-webkit-border-radius: 3px;
	}
}