/*------------------------------/
		File Menu
/------------------------------*/


// Menu Wrapper
.file-menu {
	width: 100%;
	font-family: Arial;
	font-size: 0.8em;
	background-color: #222;
	display: none;

	& > ul {
		width: 100%;
	}

	// Reset list styling
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 100;
		background-color: #222;

		li.opened ul {
			display: block;
		}
	}

	a {
		background-color: #222;
		display: block;
		color: white;
		text-decoration: none;
		padding: 5px 10px;
		white-space: nowrap; // Wrap text down
	}

	li {
		position: relative;
		float: left;
		border-right: 1px double #ddd;


		ul.menu {
			top: 100%;
			left: 0;
			display: none;

			a {
				margin-right: 80px;
			}

		}

		li {
			@extend .clearfix;
		}

		li, a {
			float: none;
			width: 100%;
			display: block;
		}

		li:hover a {
			background-color: #2085F3;
		}

		li.divider a{
			line-height: 0;
			border-top: 1px solid grey;
			padding: 0;
		}

		// ShortCut keys
		i {
			text-align: right;
			margin-left: 20px;
			display: inline-block;
			font-size: 12px;
			color: #C4C4C4;
			float: right;
		}
	}
}
